<h1>We have {{ calcProd() }} Products...!</h1>

<ul>
  <li *ngFor="let mobPart of mobParts">
    <div class="col s12 m4">
      <div class="card" [class.clsName]="mobPart.clsVar">
        <div class="card-image">
          <!-- <img src="{{ mobPart.prodImg }}" /> -->
          <!-- <img [src]="mobPart.prodImg" /> -->
          <img src="../../../assets/img/{{ mobPart.prodImg }}" />
          <span class="card-title">{{ mobPart.name | uppercase }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"
            ><i class="material-icons">add</i></a
          >
        </div>
        <div class="card-content">
          <p id="appSimpleStyle">
            Mobile Part ID : <b>{{ mobPart.id }}</b>
          </p>
          <div [style.color]="mobPart.prodColor">
            Mobile Part Name :
            <b
              ><i>{{ mobPart.name | uppercase }}</i></b
            >
          </div>
          <div>
            Description : <q>{{ mobPart.description }}</q>
          </div>

          <ng-container
            *ngIf="mobPart.inStock != 0; then stockVal; else outOfStock"
          >
          </ng-container>

          <ng-template #stockVal>
            Last <mark>{{ mobPart.inStock }}</mark> Parts Available in stock
            now...
          </ng-template>

          <ng-template #outOfStock>
            Out Of Stock
          </ng-template>
          <p align="center">
            <!-- <button>+</button> -->
            <a
              class="waves-effect waves-light btn"
              (click)="downQuantity(mobPart)"
              ><i class="material-icons">remove</i></a
            >

            {{ mobPart.quantity }}
            <a
              class="waves-effect waves-light btn"
              (click)="upQuantity(mobPart)"
              ><i class="material-icons">add</i></a
            >

            <!-- <button>-</button> -->
          </p>
          <p>Price : {{ mobPart.price | currency: "INR" }}</p>
          <p>144 : {{ 144 | sqrt }}</p>

          <!-- sqrt(144) -->

          <div
            [ngStyle]="{
              display: mobPart.canPurch === true ? 'inline-block' : 'none'
            }"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Green_sphere.svg/2000px-Green_sphere.svg.png"
              width="16"
            />
          </div>

          <p [ngSwitch]="mobPart.country">
            Country :
            <img
              *ngSwitchCase="'Australia'"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/Flag_of_Australia.svg/23px-Flag_of_Australia.svg.png"
              width="24"
            />
            <img
              *ngSwitchCase="'Germany'"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png"
              width="24"
            />
            <img
              *ngSwitchCase="'India'"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png"
              width="24"
            />
            <img
              *ngSwitchDefault
              src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/256/Flag_of_Japan.png"
              width="24"
            />
          </p>

          <!-- ng-container  vs  ng-template -->

          <!-- <div *ngIf="mobPart.inStock > 0; else outOfStock">
      Last <mark>{{ mobPart.inStock }}</mark> Parts Available in stock now...
    </div>

    <!-- #id : templatevarible -->
          <ng-template #outOfStock>
            Out of stock..!
          </ng-template>

          <!-- <div *ngIf="mobPart.inStock === 0">
      Out Of Stock Now...
    </div> -->
        </div>
      </div>
    </div>
  </li>
</ul>
