<h1 align="center">{{ title }}</h1>

<ul>
  <li *ngFor="let mobPart of mobParts">
    <p>
      Mobile Part ID : <b>{{ mobPart.id }}</b>
    </p>
    <div>
      Mobile Part Name :
      <b
        ><i>{{ mobPart.name }}</i></b
      >
    </div>
    <div>
      Description : <q>{{ mobPart.description }}</q>
    </div>
    <div>
      Last <mark>{{ mobPart.inStock }}</mark> Parts Available in stock now...
    </div>
  </li>
</ul>

<!-- directives : angular att -->
<!-- ngNonBindable : att direcive -->

<!-- 3 types of directive -->
